*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}

body{

background:#0f172a;
color:white;

}


header{

background:#020617;
padding:20px;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

font-size:26px;

}

.logo span{

color:#38bdf8;

}

nav ul{

list-style:none;
display:flex;

}

nav ul li{

margin-left:25px;

}

nav ul li a{

color:white;
text-decoration:none;
font-weight:bold;

}


.home{

height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

}

.home h1{

font-size:55px;

}

.home span{

color:#38bdf8;

}

.home p{

margin-top:15px;
font-size:18px;

}

button{

margin-top:20px;
padding:10px 25px;
background:#38bdf8;
border:none;
border-radius:6px;
cursor:pointer;

}

section{

padding:70px;
text-align:center;

}

.skills-container{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}

.skill{

background:#1e293b;
padding:15px 30px;
border-radius:10px;

}

.projects-container{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}

.project-card{

background:#1e293b;
padding:25px;
width:250px;
border-radius:10px;

}

form{

display:flex;
flex-direction:column;
width:300px;
margin:auto;
gap:10px;

}

input,textarea{

padding:10px;
border:none;
border-radius:5px;

}

footer{

background:#020617;
padding:20px;
margin-top:40px;

}